.boxUno {
  color: #E50914;
  background-color: #182925;
  font-size: 100px;
  border-radius: 2px; }

.tamanio-10px {
  font-size: 10px; }

.tamanio-15px {
  font-size: 15px; }

.tamanio-20px {
  font-size: 20px; }
